/*Header Nav Bar Settings*/
main {
  background-color:rgba(255,238,246,1);
}
header{
  display:block;
  left: 0;
  font-family: 'Homemade Apple', cursive;
  font-size: 16px;
  height: 50px;
  align-items: center;
  text-align: center;
}
code {
    display: block;
    text-align: left;
    white-space: pre;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #bbb;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    width: 900px;
}
header a{
  font-family: 'Lobster', serif;
  font-size: 25px;
  align-items: center;
  text-align: center;
  text-decoration:none;
}
}
#navbar a {
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}
@media only screen and (max-width: 815px) {
#navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }}

  #navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0,22,22,0.4);
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,192,203 ,1 ));
}
/*Header Settings*/
body {
    display: block;
    margin: 15px;
  background-color:rgba(255,238,246,1);
}
#main-doc header {
    text-align: left;
    margin: 0px;
}
    header {
    color: black;
    font-size: 30px;
    margin: 0px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
      
}
    
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

 /*Header Lists*/
 li {
    display: list-item;
    text-align: -webkit-match-parent;
    width: 900px;
}
    
@media only screen and (max-width: 815px){
#navbar ul {
    border: 1px solid;
    height: 207px;
  }}
#navbar ul {
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
    
/*Main Doc Settings*/
    @media only screen and (max-width: 815px) {
#main-doc {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
      }}
    
    ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
    
#navbar li {
    color: #4d4e53;
    border-style: solid;
    border-bottom-width: 0px;
    padding: 8px;
    padding-left: 45px;
    list-style: none;
    position: relative;
    left: -50px;
    width: 100%;    
    }
#main-doc {
  padding: 20px;
  display: block;
  flex-direction: column;
  position: relative;
  background-color:rgba(255,238,246,1);
}
#main-doc header {
    text-align: left;
    margin: 0px;
}
    section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
}
    html, body {
    min-width: 290px;
    color: #4d4e53;
    background-color:rgba(255,238,246,1);
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.5;
}
    @media only screen and (max-width: 815px){
#navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
      }}
    #navbar ul {
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
    #navbar li {
    color: #4d4e53;
    border: 1px solid;
    border-bottom-width: 0px;
    padding: 8px;
    padding-left: 45px;
    list-style: none;
    position: relative;
    left: -50px;
    width: 100%;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 2000px;
}
#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}
div .header-img {
  background-color:rgba(255,238,246,1);
  object-fit: cover;
}
section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
}